In [7]:
import pandas as pd
import numpy as np

DATA_PATH = "/mnt/data/e_commerce_shopper_behaviour_and_lifestyle.csv"
OUT_PATH  = "/mnt/data/ecom_cleaned.csv"

In [7]:
df = pd.read_csv(DATA_PATH)

In [8]:
# 1) Primary key check
assert df["user_id"].is_unique, "user_id is not unique!"

In [10]:
# 2) Parse dates
df["last_purchase_date"] = pd.to_datetime(df["last_purchase_date"], errors="coerce")
# Fix: Drop rows where date parsing produced nulls to satisfy the assertion.
df.dropna(subset=["last_purchase_date"], inplace=True)
assert df["last_purchase_date"].isna().mean() == 0, "Date parsing produced nulls"

In [11]:
# 3) Range checks (example)
assert df["age"].between(18, 80).all(), "Age out of expected range"
assert df["income_level"].between(10_000, 200_000).all(), "Income out of range"
assert df["purchase_conversion_rate"].between(0, 100).all(), "Conversion rate out of range"
assert df["return_rate"].between(0, 100).all(), "Return rate out of range"

In [12]:
# 4) Type standardization
binary_cols = ["has_children","loyalty_program_member","weekend_shopper",
               "health_conscious_shopping","premium_subscription"]

In [13]:
for c in binary_cols:
    df[c] = df[c].astype("int8")

In [14]:
cat_cols = ["gender","country","urban_rural","employment_status","education_level",
            "relationship_status","occupation","ethnicity","language_preference",
            "device_type","preferred_payment_method","shopping_time_of_day",
            "budgeting_style","shopping_frequency","brand_loyalty"]

In [16]:
for c in cat_cols:
    if c in df.columns:
        df[c] = df[c].astype("category")

In [17]:
# 5) Feature engineering
df["last_purchase_year"]  = df["last_purchase_date"].dt.year.astype("int16")
df["last_purchase_month"] = df["last_purchase_date"].dt.to_period("M").astype(str)

max_date = df["last_purchase_date"].max()
df["is_recent_purchase_90d"] = (df["last_purchase_date"] >= (max_date - pd.Timedelta(days=90))).astype("int8")

In [19]:
import os

# 6) Save cleaned dataset
# Fix: Create the output directory if it doesn't exist
os.makedirs(os.path.dirname(OUT_PATH), exist_ok=True)
df.to_csv(OUT_PATH, index=False)
print("Saved:", OUT_PATH, "| Shape:", df.shape)

Saved: /mnt/data/ecom_cleaned.csv | Shape: (659435, 63)

In [20]:
import pandas as pd
import sqlite3

# 1) Load cleaned data
df = pd.read_csv("/mnt/data/ecom_cleaned.csv", parse_dates=["last_purchase_date"])

# 2) Load into SQLite
conn = sqlite3.connect(":memory:")
df.to_sql("ecom", conn, index=False, if_exists="replace")

# 3) Helper to run SQL and return a DataFrame
def q(sql: str) -> pd.DataFrame:
    return pd.read_sql_query(sql, conn)

In [21]:
q("""
SELECT
  COUNT(*) AS users,
  AVG(weekly_purchases) AS avg_weekly_purchases,
  AVG(purchase_conversion_rate) AS avg_conversion_rate,
  AVG(checkout_abandonments_per_month) AS avg_checkout_abandonments,
  AVG(return_rate) AS avg_return_rate,
  AVG(daily_session_time_minutes) AS avg_session_minutes
FROM ecom;
""")

,users,avg_weekly_purchases,avg_conversion_rate,avg_checkout_abandonments,avg_return_rate,avg_session_minutes
0,659435,9.991302,49.99478,4.997078,50.014114,60.008457

In [22]:
q("""
SELECT
  device_type,
  COUNT(*) AS users,
  AVG(purchase_conversion_rate) AS avg_conversion,
  AVG(weekly_purchases) AS avg_weekly_purchases,
  AVG(checkout_abandonments_per_month) AS avg_abandonments
FROM ecom
GROUP BY device_type
ORDER BY avg_conversion DESC;
""")

  device_type   users  avg_conversion  avg_weekly_purchases  avg_abandonments
0      Tablet   66037       50.058210              9.984751          4.988718
1      Mobile  395365       50.016132              9.997554          4.992711
2     Desktop  198033       49.931001              9.981003          5.008584

In [23]:
q("""
SELECT
  country,
  COUNT(*) AS users,
  AVG(purchase_conversion_rate) AS avg_conversion,
  AVG(return_rate) AS avg_return_rate
FROM ecom
GROUP BY country
HAVING COUNT(*) >= 5000
ORDER BY avg_conversion DESC
LIMIT 15;
""")

     country  users  avg_conversion  avg_return_rate
0    Germany  65793       50.113660        50.094965
1     France  66120       50.086903        50.074985
2      India  66069       50.082868        49.862053
3         UK  66012       50.062428        50.101618
4        USA  66246       50.048154        50.002883
5      China  66059       50.024433        50.084273
6     Canada  66109       50.002148        50.065165
7  Australia  65509       49.934375        49.926941
8      Japan  65188       49.893646        49.916166
9     Brazil  66330       49.698839        50.010433

In [24]:
q("""
SELECT
  CASE
    WHEN product_views_per_day >= 10 THEN '10+'
    WHEN product_views_per_day BETWEEN 5 AND 9 THEN '5-9'
    WHEN product_views_per_day BETWEEN 1 AND 4 THEN '1-4'
    ELSE '0'
  END AS views_bucket,
  COUNT(*) AS users,
  AVG(ad_clicks_per_day) AS avg_ad_clicks,
  AVG(purchase_conversion_rate) AS avg_conversion,
  AVG(checkout_abandonments_per_month) AS avg_abandonments
FROM ecom
GROUP BY views_bucket
ORDER BY users DESC;
""")

  views_bucket   users  avg_ad_clicks  avg_conversion  avg_abandonments
0          10+  530515       2.499963       50.011683          4.997693
1          5-9   64517       2.494366       49.726429          4.991057
2          1-4   51522       2.499204       50.128528          4.996273
3            0   12881       2.498641       50.107756          5.005124

In [26]:
q("""
SELECT
  preferred_payment_method,
  COUNT(*) AS users,
  AVG(checkout_abandonments_per_month) AS avg_abandonments,
  AVG(purchase_conversion_rate) AS avg_conversion
FROM ecom
GROUP BY preferred_payment_method
ORDER BY avg_abandonments DESC;
""")

  preferred_payment_method  users  avg_abandonments  avg_conversion
0                   PayPal    222          5.117117       50.144144
1            Bank Transfer    203          5.059113       51.172414
2              Credit Card    199          4.884422       51.829146
3               Debit Card    159          4.761006       49.081761
4               Google Pay    203          4.748768       47.615764
5                Apple Pay    214          4.668224       47.439252

In [27]:
q("""
SELECT
  loyalty_program_member,
  premium_subscription,
  COUNT(*) AS users,
  AVG(purchase_conversion_rate) AS avg_conversion,
  AVG(weekly_purchases) AS avg_weekly_purchases,
  AVG(return_rate) AS avg_return_rate
FROM ecom
GROUP BY loyalty_program_member, premium_subscription
ORDER BY avg_conversion DESC;
""")

,loyalty_program_member,premium_subscription,users,avg_conversion,avg_weekly_purchases,avg_return_rate
0,0,1,204,51.450980,9.264706,48.764706
1,1,0,368,49.714674,10.046196,53.190217
2,0,0,392,48.979592,9.655612,48.265306
3,1,1,236,48.580508,9.766949,47.843220

In [28]:
q("""
SELECT
  strftime('%Y-%m', last_purchase_date) AS month,
  COUNT(*) AS users,
  AVG(purchase_conversion_rate) AS avg_conversion,
  AVG(weekly_purchases) AS avg_weekly_purchases
FROM ecom
GROUP BY month
ORDER BY month;
""")

      month  users  avg_conversion  avg_weekly_purchases
0   2025-01     46       45.000000              8.239130
1   2025-02     42       44.976190              9.833333
2   2025-03     61       48.754098              9.819672
3   2025-04     52       47.307692             10.923077
4   2025-05     40       49.175000              8.000000
5   2025-06     52       50.057692              8.653846
6   2025-07     48       51.229167              8.729167
7   2025-08     53       53.660377             10.528302
8   2025-09     49       51.714286              9.836735
9   2025-10     52       55.576923              8.576923
10  2025-11     52       50.980769             11.326923
11  2025-12     48       48.062500              9.666667
12  2026-01     53       56.622642              9.320755
13  2026-02     49       54.367347             10.285714
14  2026-03     48       50.895833              8.750000
15  2026-04     50       51.160000              9.820000
16  2026-05     54       49.351852              9.666667
17  2026-06     53       48.113208             10.735849
18  2026-07     44       47.863636             10.318182
19  2026-08     46       51.413043             10.543478
20  2026-09     53       46.056604              9.283019
21  2026-10     55       46.945455              9.854545
22  2026-11     50       47.400000             10.300000
23  2026-12     48       41.375000             10.104167
24  2027-01      2       38.500000              8.500000